*.pro.user*
*Makefile*
*Makefile.Debug*
*Makefile.Release*
/build
/release
/debug
qkloadergui/build
qkloadergui/release
qkloadergui/debug
efm32_loader/build
efm32_loader/release
efm32_loader/debug
*object_script*
*.*~
*~
*.dll
*.a
*.o
*.d
